.App {
  text-align: center;
  margin: 0 auto;
  background-color: #1e1f1e;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

html { 
  background-color: #1e1f1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* .App{
  -webkit-transform:scale(0.89);
  -moz-transform:scale(0.89);
  -ms-transform:scale(0.89);
  transform:scale(0.89);
  -ms-transform-origin:0 0;
  -webkit-transform-origin:0 0;
  -moz-transform-origin:0 0;
  transform-origin:0 0;} */