.App {
  text-align: center;
  margin: 0 auto;
  background-color: #1e1f1e;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

html { 
  background-color: #1e1f1e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}