.Hand{
    color: white;

}

/* .HandTitle{
    text-decoration: underline;
} */

.materialsimg{
    width: 550px;
}

.listimg{
    width: 550px;
}

.drawings1img{
    width: 550px;
}

.drawings2img{
    width: 550px;
}

.handpic{
    width: 550px;
}

.hand2{
    width: 550px;
}