.HomePage {
    text-align: center;  
}
  
  
  a {
    color: rgb(102, 23, 247);
    text-decoration: none;
    text-decoration: underline;
  }
  
  a:hover {
    color: rgb(127, 75, 223);
  }

.title{
  font-size: 40px;
  text-decoration: underline; 
}