.Message {
    padding: 2rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin: 1rem;
    background: rgb(255,174,71);
    background: linear-gradient(45deg, rgba(255,174,71,1) 6%, rgba(190,111,252,1) 100%);
    color: rgb(27, 27, 27);
    border-radius: 20px;
    text-align: center;
  }
  